
body{
    font-family: "Spoqa Han Sans";
}

hr{
    margin-bottom:10px;
    margin-top:0px;
}

#footer{
    position: fixed;
    bottom: 0;
    z-index: 99;
    border-radius: 0;
}

.total{
    padding: 20px 10px 0 20px;
}

.header{
    background-color:#3e63bc;
    height: auto;
    padding: 10px 0px;
}

.header img{
    width: 80px;
    display:block;
    margin: 10% auto;
}
.header_title{
    margin-bottom:0.2rem;
    text-align:center;
    line-height:1.6rem;
}
.blue600{
    background-color:#3e63bc
}

.main_card_img img{
    display: block;
    margin:auto;
    margin-top: -90px;
    width: 250px;
}
.main_card_img img.vertical{
    transform: rotate(90deg);
    vertical-align: middle;
    text-align: center;
    margin-top: -45px;
    margin-bottom: 80px;
}
.card_title{
    text-align:center;
    margin: 24px 0;
}
.white{
    color: #fff;
}
.card_wrap{
    margin:auto;
    padding:auto;
    text-align:center;
}

.monthly_expense_description{
    font-size: 0.8rem;
    color:#b8cafd;
}

.cardtype{
    font-size:0.8rem;
    border: solid 1px #ffffff;
    border-radius: 3px;
    width: auto;
    display:inline-block;
    color: #fff;
    padding: 2px 4px 2px 4px;
    margin: 10px 10px 10px 10px;
}
.cardgroup_1{
    padding: 10px 5px;
    border-top: solid 1px #7195fb;
    margin: 0 20px;
}
.cardgroup_2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.cardname{
    font-size:0.875rem;
    color: #b8cafd;
}
.cardexpense{
    font-size: 1rem;
    color:#fff;
}
.copywrite{
    margin-top:10px;
    font-size: 0.9rem;
}

.card_result_info ul{
    font-size: 0.8rem;
    padding: 10px 10px 0px 20px;
    margin-top: 10px;
    color: #999;
}
.benefit_title{
    text-align:center;
    font-weight:500;
    font-size: 0.8rem;
    color:#5c6476;
    padding: 10px;
    margin-bottom: 10px;
}

.benefit_user_review{
    text-align: center;
    font-weight: 500;
    font-size:1rem;
    padding: 10px;
    margin: 10px;
    word-break:keep-all
}
.more_card{
    padding: 20px 0px;
    text-align:center;
}
.more_card img{
    max-width: 180px;
    max-height: 180px;
    width:auto;
    height:auto;
}

.more_card img.vertical {
    margin:30px; 0;
    transform: rotate(90deg);
}

hr.card_hr{
    margin-right:50px;
    margin-left:50px;
}
/* modal */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: block;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: block;
    vertical-align: middle;
    padding: 20px;
}

.modal-container {
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    text-align: left;
}
.modal-header {
    display: block;
}
.modal-header p{
    margin: 0;
    padding: 10px 0px 0px 0px;
    font-weight: 400;
    text-align: center !important;
    color: #5C6476;
    display:block;
    text-align: center;
}

.modal-body {
    margin: 0;
    padding: 10px 20px 0px 20px !important;
    text-align: left;
    font-size: 1.1rem;
    word-break: break-all;
}

.modal-default-button {
    float: right;
}

.modal-footer {
    display: block;
    align-content: center;
    text-align: center;
}

.modal-body .benefit_user_review{
    font-size: 14px;
    text-align: center;
}
.footer_description{
    font-size:0.8rem;
    text-align:center;
    color:#7b859d;
}
