
.terms-agree-all {
    padding: 12px 20px;
    width: 100%;
    font-size: 1.1rem;
    color: #999;
    background-image: linear-gradient(0deg, #FEFEFE 1%, #FFFFFF 12%);
    border: 1px solid #EDEDED;
    box-shadow: 0 1px 1px 0 rgba(220, 220, 220, 0.50), 0 1px 1px 0 rgba(0, 0, 0, 0.16);
    border-radius: 2px;
}

.terms-agree-all .oi {
    float: left;
    margin-top: 4px;
}

.terms-agree-all-active {
    background: #144AE1;
    font-size: 17px;
    color: #FFFFFF;
    border: 1px solid #144AE1;
    border-radius: 2px;
    box-shadow: none;
}

.terms-agreement {
    padding: 0;
    list-style: none;
}

.terms-agreement li.terms-parent {
    margin: 12px 0 0 0;
    padding: 8px 0 16px;
    border-bottom: 1px solid #ebebeb;
    color: #666;
    clear: both;
}

.terms-agreement li.terms-parent:last-child {
    border: none;
}

.terms-agreement li.terms-parent>label {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.terms-agreement li.terms-parent .terms-link {
    margin-top: 4px;
    margin-left: 8px;
    float: right;
    color: #999;
}

.terms-agreement li.terms-parent .terms-link:hover {
    text-decoration: none;
}

.terms-agreement li.terms-parent ul {
    padding: 4px 0 0 0;
}

.terms-agreement li.terms-parent ul.required {
    padding: 4px 0 0 24px;
}

.terms-agreement li.terms-parent ul li.terms-child {
    list-style: none;
    margin: 0;
    padding: 8px 0 4px 0;
    font-size: 14px;
    color: #666;
}

.terms-agreement li.terms-parent ul li.terms-child>label {
    margin: 0;
    font-size: 14px;
}
            
